html{
	font-size: 16px;
	height: 100%;
}

body{
	background-size: 100% auto;
  	width: 100%;
  	background-color: #787D85;
  	display: flex;
  	flex-direction: column;
}

aside{
	width: 18rem;
	position: fixed;
	background-color: lightsalmon;
	padding: 12rem 2rem;
	height: 100%;
}

h1{
	font-size: 4rem; 
}

header{
	margin-left: 18rem;
	padding: 2rem 0;
	display: flex;
	justify-content: center;
}

.movie{
	max-width: 12rem;
	margin: 2rem;
	background-color: white;
	padding: 0.5rem;
}

ul{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0;
}

img{
	max-width: 100%;
	margin-bottom: 0.5rem;
}

li{
	list-style: none;
}

.movie-section{
	margin-left: 18rem;
}

input{
	margin: 0 0 0.5rem 0; 
	width: 100%;
	align-items: flex-end;
}

.input-form{
	margin-top: 2rem;
}

.sort{
	margin-bottom: 2.5rem;
}

.input{
	width: 50%
	margin-top
}
